.toggle-switch {
  width: 56px;
  height: 28px;
  margin-left: auto;
  border: #7e7e7e solid 2px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: black;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  transition: all 0.75s;
}

.toggle-switch__text {
  position: absolute;
  color: grey;
  top: 7px;
  font-size: 14px;
}

.toggle-switch__text_f {
  left: 9px;
}

.toggle-switch__text_c {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: white;
}
