.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 32px 0 28px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;

  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;

  font-size: 20px;
  line-height: 24px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__auth-btn {
  border: none;
  background: transparent;

  padding: 0;
  margin-left: 20px;

  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
}

.header__add-clothes-btn {
  margin: 0 20px;

  border: none;
  background: transparent;

  padding: 0;

  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__username {
  margin: 0 12px 0 0;

  font-size: 20px;
  font-weight: 700;
}

.header__avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.header__nav-link {
  text-decoration: none;
  color: black;
}
