.header {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  padding: 32px 0 28px;
  justify-content: space-between;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__username {
  margin: 0 12px 0 20px;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__nav {
  display: flex;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}
