.modal__content_type-image {
  position: relative;

  max-width: 498px;

  border-radius: 16px;

  overflow: visible;

  background-color: #fff;
}

.modal__close_type_preview {
  position: absolute;

  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  border: none;
  background: transparent;

  padding: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close-icon {
  width: 20px;
  height: 20px;

  display: block;

  opacity: 0.4;
}

.modal__image {
  width: 100%;
  max-height: 60vh;

  object-fit: cover;

  display: block;

  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__footer .card__like-button {
  width: 18px;
  height: 15px;

  margin-top: 6px;

  background-size: contain;

  flex-shrink: 0;
}

.modal__footer {
  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  padding: 20px 32px 32px;
}

.modal__footer-container {
  display: flex;

  flex-direction: column;

  gap: 12px;
}

.modal__caption {
  margin: 0;

  font-size: 20px;

  line-height: 24px;

  font-weight: 700;

  color: #000;
}

.modal__weather {
  margin: 0;

  font-size: 20px;

  line-height: 24px;

  color: #000;
}

.modal__delete {
  border: none;

  background: transparent;

  padding: 0;

  margin-top: 4px;

  color: #ff4d00;

  font-size: 20px;

  line-height: 24px;

  font-weight: 700;

  cursor: pointer;
}

.modal__content {
  width: 496px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 16px;

  background: white;
}
