.modal__footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0;
  align-items: flex-start;
}

.modal__caption {
  margin: 0 0 12px;
}

.modal__delete {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: #ff4d00;
}

.modal__weather {
  margin: 0;
}
