.sidebar__user-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 16px;
  margin-right: 20px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
}

.sidebar__username {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}
