.sidebar {
  width: 229px;
  flex-shrink: 0;
}

.sidebar__user-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 24px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__username {
  margin: 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.sidebar__edit-btn,
.sidebar__signout-btn {
  border: none;
  background: transparent;

  padding: 0;

  text-align: left;

  cursor: pointer;

  font-size: 20px;
  font-weight: 700;
}

.sidebar__edit-btn {
  margin: 0 0 8px;
}

.sidebar__signout-btn {
  margin: 0;
}
