.clothes-section {
  flex-grow: 1;
}

.clothes-section__row {
  display: flex;
  margin-bottom: 16px;
}

.clothes-section__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
